@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.button{
    &__component{
        @include flex(flex-start, center, row, nowrap);
        @include buttonStyle;
        @include font-stack-button-labels;
        width:100%;
        padding:0.75rem;
    }

    &__label {
        margin: 0 auto;
    }
}