@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;        
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;        
    }
}

@mixin flex($justify-content: flex-start, $align-items: stretch, $flex-direction: row, $flex-wrap: nowrap){
    display:flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    }

    @mixin styleInputMobile{
        border-radius: 4px;
        border: 1px solid $mercury;
        min-height: 2.25rem;
    }
    @mixin styleInputTablet{
        border-radius: 4px;
        border: 1px solid $mercury;
        min-height: 2.5rem;
        max-height: 2.5rem;
    }

    @mixin buttonStyle {
        min-height: 2.5rem;
        max-height: 2.5rem;
        background-color: $brainflix-blue;
        border: none;
        border-radius: 4px;
    }

    @mixin buttonStyleTablet {
        height: 2.5rem;
        max-width:9.375rem;
        background-color: $brainflix-blue;
        border: none;
        border-radius: 4px;
    }

    @mixin dividerStyleBottom {
       border-bottom: 1px solid $mercury; 
    }
    @mixin dividerStyleBottomNone {
        border-bottom: none; 
     }

    @mixin dividerStyleTop {
        border-top: 1px solid $mercury; 
     }

    @mixin dividerStyleRight {
        border-right: 1px solid $mercury; 
     }

     @mixin borderStyle {
        border: none;
        border-radius: 4px;
    }

    @mixin formStyle {
        background-color: $alabaster; 
        outline: none;
        padding: 0.75rem;
    }