// Primary colors
$brainflix-black: #323232; /* text color*/
$brainflix-blue: #0095FF; /* Primary CTA color. Active form field outline color.*/
$silver: #AFAFAF;/* Secondary text color. Text Label color*/
$white: #FFFFFF;/* Background color. CTA text color.*/

// Secondary colors
$brainflix-darkblack: #000000; /*  Video player components.*/
$brainflix-darkblue: #0065AD; /*  CTA hover state color.*/
$mercury: #E1E1E1; /* Divider line. Form field outline color.*/
$alabaster: #FAFAFA; /*Form field background color.*/

// screen size
$desktop-breakpoint: 80rem;    // 1280px
$tablet-breakpoint: 48rem;     // 768px