@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.exist-comment-box {

    &__list-comment {
        list-style-type: none;
        padding: 0;
        width: 100%;
    }

    &__item-comment {
        width: 100%;
        @include flex(flex-end, flex-start, row, nowrap);
        padding: 1rem 0rem;
        @include dividerStyleBottom;
        @include tablet {
            padding: 1.5rem 0rem;
        }
        @include desktop {
            padding: 1.5rem 1.5rem 1.5rem 0rem;
            @include dividerStyleTop;
            @include dividerStyleBottomNone;
        }
    }

    &__avatar-grey {
        background-color: $mercury;
        border-radius: 50% 50%;
        max-width: 2.25rem;
        max-height: 2.25rem;
        min-width: 2.25rem;
        min-height: 2.25rem;
        margin-right: 1rem;
    }

    &__content {
        width: 82%;
        @include font-stack-body-mobile;
        position: relative;
        @include tablet {
            width: 95%;  
            @include font-stack-body-tablet-desktop;
            margin-left:1.5rem;
        }
    }

    &__author {
    @include font-stack-section-header;
    margin-bottom: 0.5rem;
    @include tablet {
        @include font-stack-section-header-tablet;
        }
    }

    &__datestamp {
        @include font-stack-body-mobile;
        color: $silver;
        position: absolute;
        right:0%;
        top: 0%;
        @include tablet {
            @include font-stack-body-tablet-desktop;
            color: $silver;
        }
    }
}
