@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.search {
    @include flex(flex-start, center, row, nowrap);
    position:relative;
    margin-bottom: 1rem;
    @include tablet {
        margin-bottom: 0rem;
        margin-right: 1.5rem;
        width: 100%;
    }

    &__icon-search {
        position:absolute;
        left: 0.5rem;
    }

    &__input {
        outline: none;
        width: 85%;
        padding:0.625rem 0.75rem 0.625rem 2rem;
        margin-right: 1rem;
        @include styleInputMobile;
        @include tablet {
            @include styleInputTablet;
            margin-right: 0rem;
            width: 100%;
            min-width: 15rem;

        }

        &::placeholder {
            @include font-placeholder-text;
        }

        &[type = "search"] {
        @include font-placeholder-text;
        }
    }
}