@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.related-videos__item {
    @include flex(space-between, flex-start, row, nowrap);
    width:100%;
    max-height: 5rem;
    margin-bottom: 1rem;
    @include tablet {
        margin-bottom:1rem; 
    }
    @include desktop {
        cursor: pointer;
        margin-top:1.25rem; 
        margin-bottom:0rem; 
    }
}

.related-videos__link {
    width: 100%;
    text-decoration: none;
    @include flex(space-between, flex-start, row, nowrap);
}

.related-videos__box-image {
    width:45%;
    overflow: hidden;
}

.related-videos__image {
    background-color: $mercury;
    height: 5rem;
    width: 100%;
    border-radius: 4px;
    object-fit:cover;
    object-position: 50% 50%;
    vertical-align: middle;
}

.related-videos__content {
    height: 45vh;
    max-height: 5rem;
    width: 50%;
    @include font-stack-body-mobile;
    @include flex(space-between, flex-start, column, wrap);
    @include tablet {
        @include font-stack-body-tablet-desktop; 
    }

}

.related-videos__title-item {
    @include font-stack-section-header;
    padding-top: 0.3rem;
    @include tablet {
        @include font-stack-section-header-tablet; 
    }
    @include desktop {
        padding-top: 0rem;
    }
}