@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
    padding: 1rem;
    @include flex(flex-start, flex-start, column, nowrap);
    @include tablet {
        @include flex(space-between, center, row, nowrap);
        padding: 1rem 2.25rem;   
    }
    @include desktop {
        padding: 1rem 8rem;  
    }
    
    &__container-forms{ 
        width: 100%;
        @include flex(space-between, stretch, column, nowrap);
        position: relative;
        @include tablet {
            width: 55%;
            @include flex(flex-end, center, row, nowrap);
        }
    }
}

.avatar__image {
    position:absolute;
    right: 0%;
    top: 1.5%;
    @include tablet {
        position:static;
    }
}