@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
    padding: 1rem;
    @include flex(flex-start, flex-start, column, nowrap);
    
    &__container-forms{ 
        width: 100%;
        @include flex(space-between, stretch, column, nowrap);
        position: relative;
    }
}

.avatar__image {
    position:absolute;
    right: 0%;
    top: 1.5%;
}