@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-container {
    background-color: $brainflix-darkblack;
    overflow: hidden;
    width: 100%;
    @include tablet {
        height: 33rem;
        position: relative;
      }

    &__video {
        height: 50vh;
        width: 100%;
        object-fit: cover;
        @include tablet {
            padding: 0 2.25rem;
            width: 100%;
            min-height: 33rem;
            height: 53vh;
            margin-left: auto;
            margin-right: auto;
        }
        @include desktop {
            padding: 0 11.3rem;
        }

        &::-webkit-media-controls-panel {
           padding: 0 1rem; 
        }
    }
}