@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

//  for header's avatar
.avatar {
    @include tablet {
        margin-left: 1.5rem;
        }

    &__image {
    border-radius: 50% 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: 10%;
    @include tablet {
        vertical-align: middle;
        }
    }
}

//  for comment's avatar

.comment-avatar {
    text-align: end;
    width: 20%;
    @include tablet {
        width: 5%;
    }

    &__image {
    margin-right: 1rem;  
    margin-top:1.5rem;
    border-radius: 50% 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: 10%;
    @include tablet {
        vertical-align: middle;
        margin-top:0rem;
        }
    }
}