@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;



.nav-button {

    &__link {
        width: 100%;
        text-decoration: none;
        @include font-stack-button-labels;
        @include tablet {
            width:33%;
        }
    }

    &__container{
        @include buttonStyle;
        width: 100%;
        padding: 0.55rem;
        text-align: center;
        @include tablet {
        @include HeaderButtonStyleTablet;
    }
}

    &__icon{
        float:left;
    }
}