@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'AvenirNextLTPro', 'Calibri', sans-serif;
}

.video-section {
    @include flex(space-between, flex-start, column, nowrap);

    &__content-main {
        @include desktop{
            @include flex(space-between, flex-start, row, nowrap);
        }
    }
}

.related-videos {
    width:100%;
    padding: 1.5rem 1rem;
    @include tablet {
        padding: 2.25rem; 
        width:50%;
    }
    @include desktop {
        padding: 1.5rem 8rem 1.5rem 1.5rem;
        width:40%;
        @include dividerStyleLeft;
    }

    &__title {
        margin-bottom: 1.5rem;
        @include font-stack-subheader-mobile;
        @include tablet {
            @include font-stack-subheader-tablet-desktop;
            margin-bottom: 2.25rem;
        }
    }
}