@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'AvenirNextLTPro', 'Calibri', sans-serif;
}

.related-videos {
    width:100%;
    padding: 1.5rem 1rem;

    &__title {
        margin-bottom: 1.5rem;
        @include font-stack-subheader-mobile;
    }
}